* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.block1 {
    background-color: #efefef;
}
.content-box {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}
.top-menu {
    width: 447px; /* как то по другому выровнять этот блок по центру я не придумал. Пришлось ограничить его ширину */
    margin-left: auto;
    margin-right: auto;
    padding: 17px 0 16px 0;
}
.top-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}
.link-item {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    line-height: 16.41px;
}
.top-item:last-child {
    margin-right: 0;
}