* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.block1 {
    background-color: #efefef;
}
.content-box {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}
.top-menu {
    width: 447px; /* как то по другому выровнять этот блок по центру я не придумал. Пришлось ограничить его ширину */
    margin-left: auto;
    margin-right: auto;
    padding: 17px 0 16px 0;
}
.top-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}
.link-item {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    line-height: 16px;
}
.top-item:last-child {
    margin-right: 0;
}
.link-item:hover {
    color: #f13c6e;
}
.block2 {
    padding: 20px 0 20px 0;
}
.left-box {
    float: left;
}
.logo-image {
    display: inline-block;
    vertical-align: top;
}
.logo {
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    color: #f13c6e;
    margin: 21px 0 20px 20px;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0.1em;
}
.right-box {
    float: right;
}
.call-number {
    display: inline-block;
    vertical-align: top;
    margin: 30px 40px 31px 0;
    line-height: 18.75px;
    font-size: 16px;
}
.call-button {
    display: inline-block;
    vertical-align: top;
    margin: 20px 0 20px 0;
    min-width: 170px;
    min-height: 40px;
    padding: 0 24px 0 24px;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    border-color: #f13c6e;
    border-style: solid;
    border-width: 2px;
    border-radius: 40px;
}
.clearfix {
    clear: both;
}
.line {
    background-color: #efefef;
    height: 1px;
}
.block3 {
    padding: 30px 0 30px 0;
}
.main-menu {
    width: 675px;
    margin-left: auto;
    margin-right: auto;
}
.menu-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
}
.a-item {
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    font-size: 16px;
    line-height: 19px;
}
.menu-item:last-child {
    margin-right: 0px;
}
.a-item:hover {
    color: #f13c6e;
}
.bottom-block {
    background-color: #f13c6e;
}
.block4 {
    background-image: url(images/Rectangle\ 2.jpg);
    width: 1920px;
    height: 604px;
    margin-left: auto;
    margin-right: auto;
}
.content-box.main-chnges {
    color: #fff;
    padding: 192px 0 193px 0;
}
.main-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 50px;
    margin-left: 0;
    width: 310px;
}
.main-content {
    font-size: 14px;
    line-height: 20px;
    width: 310px;
    margin-left: 0;
    margin-bottom: 50px;
}
.more-info {
    min-width: 170px;
    min-height: 40px;
    padding: 0 24px 0 24px;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 40px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
}

