* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.block1 {
    background-color: #efefef;
}
.content-box {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}
.top-menu {
    width: 447px; /* как то по другому выровнять этот блок по центру, не ограничивая его по ширине, я не додумался.
    В случаи если название какогото из пунктов меню станет длиннее, последний пункт вывалится во вторую строку. 
    А если вместо 447рх сделать блок шире (типа с запасом, 450 - 500), тогда содержимое блока уже не будет расположено по центру.
    От шо делать?*/
    margin-left: auto;
    margin-right: auto;
    padding: 17px 0 16px 0;
}
.top-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}
.link-item {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    line-height: 16px;
}
.top-item:last-child {
    margin-right: 0;
}
.link-item:hover {
    color: #f13c6e;
}
.block2 {
    padding: 20px 0 20px 0;
}
.left-box {
    float: left;
}
.logo-image {
    display: inline-block;
    vertical-align: top;
}
.logo {
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    color: #f13c6e;
    margin: 21px 0 20px 20px;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0.1em;
}
.right-box {
    float: right;
}
.call-number {
    display: inline-block;
    vertical-align: top;
    margin: 30px 40px 31px 0;
    line-height: 18.75px;
    font-size: 16px;
}
.call-button {
    display: inline-block;
    vertical-align: top;
    margin: 20px 0 20px 0;
    min-width: 170px;
    min-height: 40px;
    padding: 0 24px 0 24px;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    border: 2px solid #f13c6e;
    border-radius: 40px;
}
.call-button:hover {
    background-color: #e788a3;
    color: #fff;
    border: none;
}
.clearfix {
    clear: both;
}
.line {
    background-color: #efefef;
    height: 1px;
}
.block3 {
    padding: 30px 0 30px 0;
}
.main-menu {
    width: 675px;
    margin-left: auto;
    margin-right: auto;
}
.menu-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
}
.a-item {
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    font-size: 16px;
    line-height: 19px;
}
.menu-item:last-child {
    margin-right: 0px;
}
.a-item:hover {
    color: #f13c6e;
}
.hiden-block {
    background-color: #f13c6e;
}
.block4 {
    background-image: url(images/Rectangle2.jpg); /*Почему сиреневые скобки? Почему при маштабировании страницы background-image сьезжает вправо?*/
    width: 1920px;
    height: 604px;
    margin-left: auto;
    margin-right: auto;
}
.content-box.main-chnges {
    color: #fff;
    padding: 192px 0 193px 0;
}
.main-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 50px;
    margin-left: 0;/*Стоит ли этот маржин тут использовать?*/
    max-width: 320px;
}
.main-content {
    font-size: 14px;
    line-height: 20px;
    max-width: 320px;
    margin-left: 0;/*Стоит ли этот маржин тут использовать?*/
    margin-bottom: 50px;
}
.more-info {
    min-width: 170px;
    min-height: 40px;
    padding: 0 24px 0 24px;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 40px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: capitalize;/*есть ли смысл это тут использовать? Типа чтобы наверняка у любой кнопки первая буква была заглавной*/
    color: #fff;
    cursor: pointer;
    margin-left: 0;/*Стоит ли этот маржин тут использовать?*/
}
.more-info:hover {
    background-color: #e788a3;
    border: 2px solid #e788a3;
}
.block5 {
    padding: 80px 0 81px 0;
    background-color: #efefef;
}
.cards-name {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.cards-style {
    display: inline-block;
    vertical-align: top;
    margin: 38px 30px 0 0;
    height: 363px;
    width: 255px;
    padding: 25px 30px 25px 30px;
    background-color: #fff;/*нужен ли тут белый цвет, если он и так по умолчанию белый?*/
    border: 2px solid #fff;/*добавил бордер чтобы содержимое карточки не прыгало при hover*/
}
.cards-style:last-child {
    margin-right: 0;
}
.cards-style:hover {
    border: 2px solid #e788a3;
    /*cursor: pointer;*//*убрал курсор. Кажется будет лушче если курсор будет появлятся только при наведении на кнопку купитть*/
}
.cards-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 125px;
    height: 166px;
    margin-bottom: 20px;
}
.card-content {
    line-height: 19px;
    color: #333333;
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}
.card-price {
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 0,05em;
    text-align: center;
    margin-bottom: 20px;
}
.cards-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #F13C6E;
    min-width: 130px;
    min-height: 35px;
    border-radius: 30px;
    border: none;
    color: #fff;
    text-align: center;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    cursor: pointer;
}
.cards-button:hover {
    background-color: #e788a3;
}
.info-cards {
    display: inline-block;
    vertical-align: top;
    width: 540px;
    height: 230px;
    margin: 100px 30px 0 0;
    padding: 35px 45px 35px 40px;
    background-color: #F13C6E;
    color: #fff;
    margin-bottom: 100px;
}
.info-cards:last-child {
    margin-right: 0;
}
.info-left-side {
    float: left;
}
.info-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    margin-left: 0;/*не знаю надо ли оно*/
    margin-bottom: 25px;
    max-width: 250px;
}
.info-content {
    font-size: 14px;
    line-height: 19px;
    max-width: 231px;
}
.info.mail {
    color: #C4C4C4;
    width: 225px;
    height: 35px;
    border-radius: 30px;
    background-color: #fff;
    margin-top: 25px;
    padding-left: 25px;
    border-style: none;
}
.info.mail:focus {
    color: #000;/*как убрать чорную рамку у поля емеил?*/
}
.info-image {
    float: right;
    margin-top: 15px;
}
.info-button {
    margin: 25px 0 0 0;
    width: 170px;
    height: 35px;
    padding: 9px 28px 9px 29px;
    background-color: #F13C6E;
    border: 2px solid #fff;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #fff;
    cursor: pointer;
}
.info-button:hover {
    background-color: #e788a3;
    border: 2px solid #e788a3;
}
.partners {
    display: inline-block;
    vertical-align: top;
    height: 120px;
    width: 277.5px;
    background-color: #fff;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;;
}
.partner-logo {
    display: block;/*это свойство использую для того чтобы выровнять содержимое по центру. Но появляется косяк. У меня содержимое это ссылка, при наведении на которую срабатывает курсор-поинтер. Учитывая то что содержимое является блочным елементом, поинтер срабатывает по всей ширине родителя. Как это исправить?*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px; 
    max-height: 50px;
    max-width: 180px;/*максимальное допустимое разрешение 180/50, на случай если будет загружен логотип размером больше родителя*/
}
.mar-bot-80 {
    margin-bottom: 80px;
}
.block6 {
    padding: 60px 0 0 0;
}
.footer-menu {
    display: inline-block;
    vertical-align: top;
    width: 255px;
    margin: 0 30px 60px 0;
    
}
.footer-menu:last-child {
    margin-right: 0;
}
.footer-name {
    max-width: 150px;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 30px;
}
.footer-line {
    margin-bottom: 25px;
}
.footer-item {
    text-decoration: none;
    color: #828282;
    font-size: 12px;
    line-height: 28px;
}
.media {
    display: block;
    float: left;
}
.footer-phone {
    display: block;
    float: right;
}
.edit-number {
    margin: 50px 40px 51px 0;
}
.edit-button {
    margin: 40px 0 40px 0
}
.footer-media {
    display: inline-block;
    vertical-align: top;
    max-width: 45px;
    max-height: 45px;
    margin: 37px 20px 38px 0;
}
.footer-media:last-child {
    margin-right: 0;
}
.block7 {
    background-color: #efefef;
}
.created-info {
    color: #828282;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    padding: 25px 0 25px 0;
}